<div>
  <h1>Se connecter</h1>
  <form
    [formGroup]="signInForm"
    (ngSubmit)="onSubmitLoginForm()"
    class="flex flex-col gap-y-3 w-full"
  >
    <div class="flex flex-col">
      <label for="email">Email :</label>
      <input pInputText id="email" type="text" formControlName="email" />
      @if (signInForm.get('email')?.touched && signInForm.controls['email'].hasError('required')) {
        <div class="form-error-message">Email requis</div>
      }
      @if (signInForm.get('email')?.touched && signInForm.controls['email'].hasError('email')) {
        <div class="form-error-message">Email invalide</div>
      }
    </div>

    <div class="flex flex-col">
      <label for="password">Password :</label>
      <input pInputText id="password" type="password" formControlName="password" />
      @if (
        signInForm.get('password')?.touched && signInForm.controls['password'].hasError('required')
      ) {
        <div class="form-error-message">Mot de passe requis</div>
      }
    </div>

    <div class="flex flex-row justify-between w-full items-center">
      <label class="flex items-center gap-x-1">
        <p-checkbox [binary]="true" /> Se rappeler de moi
      </label>
      <p-button label="Mot de pass oublié ?" link />
    </div>
    <p-button [disabled]="signInForm.invalid" class="w-full pt-3" type="submit"
      >Se connecter</p-button
    >
    @if (signInForm.errors?.['invalidCredentials']) {
      <div class="form-error-message">Email ou mot de passe incorrect</div>
    }
  </form>
  <span class="flex justify-start items-center"
    >Vous n'avez pas de compte ? <p-button label="Créer un compte" link routerLink="/auth/signup"
  /></span>
</div>
